<!--采用相对的时间或者绝对的时间，默认相对-->

<div class="<%= class_name %>">

 

 
  	<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished">
  	
  	<%= post.date.fromNow() %>

  <% var readTime='阅读时间:'+(Math.round(post.content.length/1000)+1) +'分钟' %>
<div>
<%= readTime %>
</div>
</div>



