<div class="reward">
「喜欢，就赞一个呗！(:3 」∠)_ (￣y▽￣)~*」

<div class="reward-btn" >
<div class="reward-qr">
<div class="reward-tks">
「鼓励我写出更好的文字」
</div>
<img src= "<%= theme.alipay %>" />
「谢谢你」
</div>
 <div class="reward-text">赏</div>
</div>
</div>