/*
@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")
*/
html {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbars {
  display: none;
/*
  have not correct width of set layout
 
  
  color: #333
  word-break: break-word
  */
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #333;
}
.main-header {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}
.nav {
  float: left;
}
.nav-list {
  float: left;
  list-style: none;
  color: #71777c;
  padding: 0 1.5rem;
  font-size: 1.33rem;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
}
.nav-list a:hover {
  border-bottom: 1px solid #007fff;
  color: #007fff;
}
.nav-list li {
  list-style: none;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 80%;
  margin-top: 5rem;
  margin-left: 10%;
  margin-right: 10%;
}
.left {
  margin-top: 1.5rem;
  background-color: #f0f1f1;
  width: 15rem;
}
.left ul {
  list-style: none;
}
.right {
  margin-top: 1.5rem;
  width: 400px;
}
.right .social {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  padding-left: 1rem;
  margin-left: 1rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.right .social .slogan {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.6rem;
  padding: 1rem;
  margin-bottom: 1.3rem;
  border-bottom: 1px solid #f4f5f5;
}
.right .social .link {
  font-size: 1.5rem;
  line-height: 1.6rem;
}
.right .social .link .btn {
  height: 3rem;
  width: 80%;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.6rem;
  border-radius: 5px;
}
.right .social .link .btn:hover {
  opacity: 0.8;
}
.right .social .link .btn-github {
  background-color: #4c4c4c;
}
.right .social .link .btn-weixin {
  background-color: #44b549;
}
.right .social .link .btn-weixin:hover img {
  display: block;
}
.right .social .link .btn-weixin img {
  display: none;
  position: absolute;
  top: 10px;
  z-index: 99;
  top: 120px;
  right: 25%;
  width: 200px;
  height: 200px;
}
.right .social .link .btn-twitter {
  background-color: #1da1f2;
}
.right .tag {
  background-color: #fff;
  margin-left: 1rem;
}
.right .tag .btn-group {
  padding: 1rem 1rem 1rem 1rem;
}
.right .tag .btn-group .btn-tag {
  background-color: #f4f5f5;
  color: #454645;
  border-radius: 20px;
  padding: 0.5rem 1.3rem;
  margin: 0.3rem;
  outline: none;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.right .tag .btn-group .btn-tag:hover {
  background-color: #37c700;
  cursor: pointer;
}
.right .friends {
  background-color: #fff;
  margin: 2rem 0 1rem 1rem;
  padding: 1rem 1rem 1rem 1rem;
  color: #333;
}
.right .friends .friends-header {
  border-bottom: 1px solid #f4f5f5;
  font-size: 2rem;
}
.right .friends .friend {
  display: block;
  color: #909090;
  font-size: 1.3rem;
}
.right .friends .friend a {
  color: #909090;
}
.right .friends .friend:hover {
  text-decoration: underline;
}
.main {
  margin-top: 1.5rem;
  width: 100%;
  background-color: #fff;
}
.main li {
  list-style: none;
}
.list-box {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border-radius: 2px;
  width: 100%;
}
.shadow {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  height: 72px;
}
.article-box a {
  color: #333;
  text-decoration: none;
}
.article-box:hover {
  color: #909090;
  background-color: rgba(143,143,143,0.1);
}
.box-image {
  background-image: url("https://dn-mhke0kuv.qbox.me/2f5909e41505fde640dc.jpg?imageView2/1/w/120/h/120/q/85/format/jpg/interlace/1");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 60px;
  height: 60px;
  margin: 5px 5px 5px 5px;
}
.box-right {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.box-right .title {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
  flex: 1;
}
.box-right .info {
  color: #909090;
}
.article-item {
  background-color: rgba(222,222,222,0.2);
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 2px;
  margin-right: 2rem;
}
.article-item height:72px {
  color: #909090;
  text-decoration: none;
}
.article-item:hover {
  color: #007fff;
}
.nav-item {
  background-color: #f0f1f1;
  font-weight: 100;
  font-size: 2rem;
  border-radius: 2px;
  height: 72px;
  box-sizing: border-box;
  width: 140px;
}
.nav-item:active {
  background-color: rgba(222,222,222,0.2);
}
.nav-item:hover {
  background-color: rgba(222,222,222,0.2);
}
.nav-item a {
  color: #909090;
  text-decoration: none;
}
.nav-item a:hover {
  color: #4b82ff;
}
.page {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  position: absolute;
  top: 900px;
  left: 50%;
  transform: translateX(-50%);
}
.page a {
  color: #2479cc;
  text-decoration: none;
}
.page .prev {
  float: left;
}
.page .next {
  float: right;
}
.page:hover {
  border-bottom-color: #d26911;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 5rem;
  background-color: #eee;
  margin-top: 2rem;
}
footer .toTop-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
footer .toTop-btn:hover .toTop-text {
  display: block;
}
footer .toTop-text {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}
footer .toTop-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
footer .toTop-button:hover {
  cursor: pointer;
}
article {
  width: 70%;
  margin-top: 5rem;
  margin-left: 15%;
  margin-right: 15%;
  background-color: #fff;
}
article h1 {
  font-weight: 700;
  font-size: 2.7rem;
  padding: 0.27rem 0;
  line-height: 1.3;
  display: block;
  border-bottom: 1px solid #ddd;
}
article img {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
}
article p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  word-break: break-word;
  line-height: 2.27rem;
  font-weight: 400;
  font-size: 16px;
}
article blockquote {
  border-left: 5px solid #ddd;
  padding-left: 0.5rem;
}
article ul {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
}
article ol {
  font-size: 16px;
  line-height: 2rem;
  font-weight: 400;
  list-style: decimal outside none !important;
}
article .part {
  padding-bottom: 1px solid #000;
  text-align: center;
}
article .article-entry hr:nth-child(2) {
  display: block;
  border: 0px;
  height: 10px;
  background-image: url("https://cdn-images-1.medium.com/max/800/1*l1rwI8JqPwqroFjU9Xbqfw.png");
  background-repeat: no-repeat;
  background-position: 50%;
}
article .article-entry a {
  color: #259;
}
article #article-nav-newer {
  float: left;
}
article #article-nav-older {
  float: right;
}
.article-entry pre,
.article-entry .highlight {
  background: #f8f8f8;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #459eca;
  line-height: 22.400000000000002px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #333389;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #f8f8f8;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #f8f8f8;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.ds-thread .ds-meta {
  display: none;
}
.ds-comments-tabs .ds-tab {
  display: none;
}
#ds-thread #ds-reset .ds-comments-info {
  width: 100%;
  font-size: 13px;
  margin-top: 10px;
  padding: 8px 0;
  line-height: 25px;
  position: relative;
  display: none;
}
.ds-comments {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
#ds-thread #ds-reset .ds-replybox {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
#ds-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#ds-thread #ds-reset .ds-powered-by {
  display: none;
}
