
section
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-flex: 1
  -ms-flex: 1
  flex: 1

.left
  margin-left: 100px
  border: 1px solid black
  background-color: #f0f1f1
  width: 200px

.right
  margin-right: 100px
  border: 1px solid black
  background-color: #ffffff
  width: 200px

.main
  margin: 20px
  width: 100%
  height: 100%
  background-color: #ffffff

li
  list-style: none

.list-box
  background-color: #fff
  border-radius: 2px
  margin-bottom: 1.5rem
  float: left
  position: relative
  top: 6.66rem
  left: 30%
  background-color: #fff
  border-radius: 2px
  margin-bottom: 1.5rem

.shadow
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)

.header-box
  display: -webkit-box
  display: -ms-flexbox
  display: flex

.article-box
  display:-webkit-box
  display:-ms-flexbox
  display:flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  &:hover
    background-color:#909090
  .title    
    font-size: 1.3rem
    line-height: 2rem
    font-weight: 600
    margin-bottom: .5rem
    color:#333
a
  color:#333;
  



