
.main-header
  width: 100%
  height:5rem;
  background-color: #ffffff
  border-bottom: 1px solid #f1f1f1;
  position: fixed
  top: 0
  left: 0
  right: 0
  display:block
.nav
  float: left

.nav-list
  float: left
  list-style: none
  color: #71777c
  padding: 0 1.5rem
  font-size: 1.33rem
  -ms-flex-pack: center
  -webkit-box-pack: center
  justify-content: center
  cursor: pointer
  li
    list-style:none
