
<% var content=post.content %>
<% var noCopyright=content.match(/<p>nocopyright/) %>
<% if(noCopyright==null) { %>
<% var url= post.permalink %>
<div class="copyright">
<blockquote>
<strong>本文链接</strong>:  <a href= "<%= url %>" href="_blank" > <%= url %> </a>
<div>
<strong>版权声明</strong>:本博客所有文章除特别声明外，均采用<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank" >CC BY-NC-SA 3.0 CN许可协议</a>进行许可。转载请注明出处！
</div>
</blockquote>
</div>

<% } %>	
<% if(noCopyright!==null) { %>
<div>
<script>

var articleEntry=document.querySelector('.article-entry');
var allP=articleEntry.querySelectorAll('p');
allP[allP.length-1].innerHTML="";//将最后一行nocopyright去掉 
</script>
</div>
<% } %>