<div class="show-tags">
<ul>
<% var tags=post.tags %>
<% if(tags && tags.length) { %>
<% tags.each(function(tag) {%>
<li>

<%var tagUrl=  config.url +'/tags/'+tag.name %>

<a href=<%= tagUrl %> >
<i class="fa fa-tags" aria-hidden="true"></i>
<%= tag.name%>
</a>
</li>
<% })%>
<% } %>
</ul>
</div>

