.night
  background-color: rgba(0,0,20,0.95)!important
  color:#fff
  a
    color:#fff
  footer,header
    background-color: rgba(12, 12, 31, 0.64)!important
  .left
    background-color:rgba(48, 45, 34, 0.31)!important
    li
      background-color:#17161f!important
    a
      color:white
  .right .social,.tag,.friends
    background-color:rgba(48, 45, 34, 0.31)!important
  .right .social .link .btn
    border-color:#17161f
  .right .social .slogan
    color:white
  .right .friends 
    color:white
    .friend a
      color:white
  .main
    background-color:rgba(0, 0, 30, 0.95)!important
    .list-box 
      background-color:rgba(0, 0, 30, 0.95)!important
      .box-right .title 
        color:#fff!important
  .copyright
    background-color:#342a2a 

.night
{
    transition: all 1.2s ease-in;
}

