@import "_variables"
html
  margin:0px
  padding:0px
  font-size:12px



::-webkit-scrollbar  
    display: none

::-moz-scrollbars
  display: none


@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")  

body
  height:100%
  background-color: #f4f5f5
a
  text-decoration: none
  color:#333

@import "night"
@import "_partial/header"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/article"
@import "_partial/share"
@import "_partial/highlight"
@import "_partial/money"
@import "_partial/copyright"
