<section>
  <div class="left">
    left
  </div>
  <div class="main">
   <% page.posts.each(function(post){ %>
    <div>
    <a href="<%- url_for(post.path) %>" >
    <%= post.title %>
    </a>
    </div>
  <% }) %>
  </div>
  <div class="right">
    right
  </div>
</section>