<header class="main-header">
<div class="logo nav-list">
	<a href="/"><img src=<%= theme.headerpic %> alt="logo" width="50px" height="50px" /></a>
</div>
<nav class="nav">
<ul class="nav-list">
<li class="nav-list">
<a href="/">
<i class="fa fa-home" aria-hidden="true" ></i>
首页
</a>
</li>
<li class="nav-list">
<a href="/about">
<i class="fa fa-youtube-play" aria-hidden="true" ></i>
关于我
</a>
</li>
<li class="nav-list">
<a href="/atom.xml" target="_blank" >
<i class="fa fa-feed" aria-hidden="true" ></i>
订阅我
</a>
</li>

</ul>
</nav>
</header>