<header class="main-header">
<a href="/" class="logo nav-list">logo</a>
<nav class="nav">
<ul class="nav-list">
<li class="nav-list">
<a href="/">
首页
</a>
</li>
<li class="nav-list">
<a href="/aboutme">
关于我
</a>
</li>

</ul>
</nav>
</header>