<div class="article-share">
<div id="qrcode">
	扫一扫，分享到微信
	<i class="fa fa-window-close-o fa-2" aria-hidden="true"></i>
</div>
<ul class="share-content">
<li class="share-text">
		share
	</li>
	<li>
		<a ><i class="fa fa-weixin" aria-hidden="true" id="toweixin"></i></a>
	</li>
	<li>
		<a ><i class="fa fa-weibo" aria-hidden="true" id="toweibo"></i></a>
	</li>
	<li>
		<a ><i class="fa fa-twitter" aria-hidden="true" id="totwitter"></i></a>
	</li>
</ul>
</div>