<header class="main-header">

<div class="logo nav-list">
<a href="/"><img src=<%= theme.headerpic %> alt="logo" width="50px" height="50px" /></a>
</div>
<ul class="nav-list nav">

<li class="nav-list">
<a href="/">
<i class="fa fa-home" aria-hidden="true" ></i>
首页
</a>
</li>


<% if(theme.aboutme) { %>
	
<li class="nav-list">
<a href= <%= theme.aboutme[1] %>  >
<i class="fa fa-youtube-play" aria-hidden="true" ></i>
<%= theme.aboutme[0] %>
</a>
</li>
<% } %>

<% if(theme.headerfeed ){ %>
<li class="nav-list">
<a href="/atom.xml" target="_blank" >
<i class="fa fa-feed" aria-hidden="true" ></i>
<%= theme.headerfeed %>
</a>
</li>
<% } %>

<% if(theme.lightmode) { %>
<li class="nav-list lightmode ">
<a href="javascript:;" >
<i class="fa fa-moon-o" aria-hidden="true"></i>
关灯
</a>
</li>
</ul>
<% } %>
</header>