<% if(theme.reward) { %>
<div class="reward" id="rewardme">
「喜欢，就赞一个呗！(:3 」∠)_ (￣y▽￣)~*」

<div class="reward-qr">
<div class="reward-tks">
「鼓励我写出更好的文字」
<i class="fa fa-window-close" aria-hidden="true"></i>
</div>
<img src= "<%= theme.alipay %>" />
「支付宝」
</div>


<div class="reward-btn" >
<div class="reward-text">赏</div>
</div>


</div>
 <% } %>