@media mq-mobile
  section
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    width:100%
    margin-top:5rem
  .left
    display:none 
  .right
    display:none
  .box-right 
    display: flex
    flex-direction: column
    justify-content: space-around
    -ms-flex-pack: distribute
    font-size:0.8rem
    padding-top:2px!important
    .title 
      font-size: 0.8rem!important
      line-height: 1.2rem!important
  


 @media mq-normal 
  section
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1
    flex: 1
    width:80%
    margin-top:5rem
    margin-left:10%
    margin-right:10% 


 


.left
  margin-top:1.5rem
  background-color: #f0f1f1
  width: 15rem

  -webkit-box-ordinal-group: 2
  -ms-flex-order: 1
  order: 1
  ul
    list-style: none

.right
  margin-top:1.5rem
  width:300px
 
  -webkit-box-ordinal-group: 4
  -ms-flex-order: 3
  order: 3
  .social 
    background-color: #fff
    border-radius: 2px
    margin-bottom: 1.5rem
    overflow: hidden
    padding-left:1rem
    margin-left:1rem
    padding-bottom:1.5rem
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05)
    .slogan
       font-size: 1.2rem
       text-align:center
       color: #333
       line-height: 1.6rem
       padding:1rem
       margin-bottom: 1.3rem
       border-bottom:1px solid #f4f5f5
    .link
      font-size:1.5rem
      line-height:1.6rem
      .btn
        height: 3rem
        width: 80%
        color:#fff
        font-size:1.5rem
        line-height:1.6rem
        border-radius:5px
        &:hover
          opacity: 0.8
          cursor: pointer
      .btn-github
          background-color: #4c4c4c
      .btn-email
          background-color: #4285f4  //google inbox color 
      .btn-weixin
          background-color:#44b549
          &:hover
           img
             display:block
          img
            display:none  //使用z-index进行悬浮
            position:absolute
            top:10px
            z-index:99
            top: 120px
            right: 25%
            width:200px
            height:200px
      .btn-twitter
          background-color:#1da1f2
  .tag
    background-color:#fff
    margin-left:1rem
    .btn-group
      padding:1rem 1rem 1rem 1rem
      .btn-tag
        background-color: #f4f5f5
        color: #454645
        border-radius: 20px
        padding: .5rem 1.3rem
        margin:.3rem
        outline: none
        -webkit-transition: background-color .3s,color .3s
        transition: background-color .3s,color .3s
        &:hover
          background-color: #37c700
          cursor: pointer
  .friends
    background-color:#fff
    margin:2rem 0 1rem 1rem 
    padding:1rem 1rem 1rem 1rem
    color:#333
    .friends-header
      border-bottom:1px solid #f4f5f5
      font-size:2rem
    .friend
      display:block
      color:  #909090
      font-size:1.3rem
      a
        color:  #909090
      &:hover
        text-decoration: underline
.main
  margin-top: 1.5rem
  width: 50%
  background-color: #ffffff
  -webkit-box-ordinal-group: 3
  -ms-flex-order: 2
  order: 2
  -webkit-box-flex:1
  -ms-flex:1
  flex:1
  li
    list-style:none  
.list-box
  background-color: #fff
  border-radius: 2px
  margin-bottom: 1.5rem
  background-color: #fff
  border-radius: 2px
  width:100%

.shadow
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)


.article-box
  display:-webkit-box
  display:-ms-flexbox
  display:flex
  -webkit-box-orient: horizontal
  height:72px
  a
    color:#333
    text-decoration: none
  &:hover
    color:#909090
    background-color: hsla(0,0%,56%,.1)
  
  
.box-image
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUAAAACgBAMAAACPjaivAAAAElBMVEXi6O3////R3ujj6e/c5u3X4usQB3wbAAABCElEQVR42u3Vy03FQBBE0U6BDBCfPSEQAvlHw44FmvaoEbJLz+dGcORWeUqSJEmSJEmS/trTphoGCAi4CRAQcNMtgfUrQMDjbjgSQMBJgIDTjgyAj3JiQMBJtwTG/2bigfEnBgScdEtg/G8mHhh/YkDASYCAgJsAAQE3AQICbgIEBNwECPgvwJef3mrY2cCvGnY28KOGnQx8rcs7Btb1LYE5E2mAORNpgEEXXgNzJtIAgz7gGpgzkQaYM5EGmPKKtMCciRwBPyuiFvheGS2BQRdeA3Mm0gOfK6QlMGciDTBnIg0w6MJrYM5EGmDQB1wDcybSAHMm0gBTXpEWmDMRSZIkSZIk6cK+AUdTxLnCoi0gAAAAAElFTkSuQmCC")
  background-size:cover
  background-position: 50%
  background-repeat: no-repeat
  -webkit-box-flex: 0
  -ms-flex: 0 0 auto
  flex: 0 0 auto
  width: 60px
  height: 60px
  margin: 5px 5px 5px 5px
.box-right
  display:flex;
  flex-direction: column
  padding-top:1rem
  .title    
    font-size: 1.3rem
    line-height: 2rem
    font-weight: 600
    margin-bottom: .5rem
    color:#333
  .info    
    color: #909090;


.article-item
  background-color: hsla(0,0%,87%,.2)
  font-weight: 700
  font-size: 1.3rem
  border-radius: 2px
  margin-right:2rem
  height:72px
    color:#909090
    text-decoration: none
  &:hover
    color: #007fff

.nav-item
  background-color: #f0f1f1
  font-weight: 100
  font-size: 2rem
  border-radius: 2px
  height:72px
  box-sizing:border-box
  width:140px
  &:active
    background-color: hsla(0,0%,87%,.2)
  &:hover
    background-color: hsla(0,0%,87%,.2)
  a
    color:#909090
    text-decoration: none
    &:hover
      color: #4b82ff
.page
  text-align:center
  font-size:1.3rem
  padding-bottom:3rem
  .page-number
    padding: 4px;
    margin: 4px;
    &:hover
      border-top:1px solid #4b82ff
  a
    color: #2479CC;
    text-decoration: none;
  .prev
    float:left
    padding-left:10px
  .next
    float:right  
    padding-right:10px
  &:hover
    border-bottom-color: #D26911
    cursor:pointer

