article{
  display:flex;
  flex-direction:row;

}

.article
  width:70%
  margin-top:5rem

@media mq-mobile
  .article
    width:80%  
    blockquote
      margin-left:5px!important
      margin-right:5px!important
    .highlight
      margin:0 5px!important
      padding:0 5px!important
    pre
      padding:5px 5px!important



.article
  h1
    font-weight: 700
    font-size: 2.7rem
    padding: .27rem 0
    line-height: 1.3
    display:block
    border-bottom:1px solid #ddd;
  .article-entry 
    img
      text-align: center
      position:relative
      left:50%
      transform: translateX(-50%);
      max-width: 100%
    
     
  p 
    display: block
    -webkit-margin-before: 1em
    -webkit-margin-after: 1em
    -webkit-margin-start: 0px
    -webkit-margin-end: 0px
    word-break: break-word
    line-height: 2.27rem
    font-weight: 400
    font-size: 16px
  blockquote
    border-left:5px solid #ddd
    padding-left:0.5rem 


  ul
    font-size:16px
    line-height: 2rem
    font-weight: 400
  ol
    font-size:16px
    line-height: 2rem
    font-weight: 400
    list-style: decimal outside none!important;
  .part
    padding-bottom:1px solid black
    text-align:center

  .article-entry
    border-bottom:1px solid #f4f5f5
    hr:nth-child(2)
      display:block
      border:0px
      height:10px
      background-image:url('/img/bottom.png') 
      background-repeat: no-repeat
      background-position: 50%
    a
      color: #259
  .cat-and-tags
    display:-webkit-box
    display:-ms-flexbox
    display:flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center     
  #article-nav
    display:block
    font-size: 1.3rem    
  #article-nav-newer
    float:left
  #article-nav-older
    float:right 
  .article-category
    padding: 4px 10px
    text-align: center
    font-size: 14px
    width: 40%;
    .categories
      line-height: 2rem
      background: rgba(0,0,0,0.06)
      color: #666768
      border-radius: 15px
  .show-tags
    line-height: 2rem;

    ul
      list-style:none
      text-align: center
      transform: translateX(-50%)
      position: relative
      left: 50%
      margin: 0px
      padding-left: 10px;
    li 
      float:left
      padding: 4px 10px
      line-height:2rem
      background: rgba(0,0,0,.06)
      color: #666768
      border-radius: 15px
      text-align: center
      font-size:14px
      margin-left:3px
  .article-date
    font-size:16px

//选中文字之后的变化效果
//
  .article-entry 
    p::-moz-selection  
        background-color:#e0dccc
        color:#03A9F4
    p::selection 
        background-color:#e0dccc
        color:#03A9F4

