.reward {
	margin-top: 1rem;
	text-align: center;
	font-size: 1.3rem;
	line-height: 2rem;
}

.reward-btn {
	margin-top: 1rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 50px;
	width: 50px;
	background-color: rgba(221,51,34,0.7);
	border-radius: 50%;
}

.reward-btn:hover {
	background-color: #d32;
}

.reward-text {
	font-size: 15px;
	width: 15px;
	height: 15px;
	padding: 15px;
}

.reward-qr {
	display: none;
	width: 220px;
	height: 220px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #9c592a;
	border: 1px solid #f4f5f5;
	border-radius: 5px;
	font-size: 1rem;
	line-height: 1.2rem;
	text-align: center;
}

.reward-qr .reward-tks {
	margin: 10px 0px;
}

.reward-qr img {
	width: 140px;
	height: 140px;
	margin: 10px 40px;
}