.article-share
{
width:15%
margin-top:5rem
}
.share-content
	display:none
	position:fixed
	top:50%
	list-style:none
	font-size:30px
	padding-left:2px
	li:hover
		cursor:pointer

.share-text
{
font-size:12px!important
}
#qrcode
{
	display:none;
	position:fixed;
	top: 24%;
  left: 50%;
  transform:translate("-50%","-50%");
  z-index:99;
  background-color:#fff;
  height:200px;
  width:184px;
  text-align:center;
}
#qrcode .qr-text{
	margin-top:10px;
	margin-bottom:10px;
}

#qrcode #qrcodeImg{
	margin-left:20px;
}	
.fa-window-close{
	font-size:1.5rem;
}	
  
