html
  margin:0px
  padding:0px
  font-size:12px
  /*
  have not correct width of set layout
 
  
  color: #333
  word-break: break-word
  */
body
 
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -webkit-box-pack: justify
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  justify-content: space-between
  background-color: #f4f5f5
a
  text-decoration: none
  color:#333

@import "_partial/header"
@import "_partial/archive"
@import "_partial/footer"

